
.logo{
    display: inline-flex;
}
.top{
    display: inline;
}
header{
    background: rgb(159, 207, 230);
    padding: 30px;
    text-align: center;
    margin: -1%;
    margin-bottom: 0%;
}
.titre{
    display: inline;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.corps{
    display: inline;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.secret{
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
form{
    border : solid 2px black;
    border-radius: 20px;
    padding : 2%;
    margin: 35%;
    margin-top: 0%;
    background-color: rgb(159, 207, 230);
}
fieldset{
    border: 0;
}
.imgS{
    height: 300px;
    width: 300px;
}
@media only screen and (max-width:800px){
	form{
        border : solid 2px black;
        border-radius: 20px;
        padding : 2%;
        margin: 20%;
        margin-top: 0%;
        background-color: rgb(159, 207, 230);
    }
    header{
        background: rgb(159, 207, 230);
        padding: 30px;
        text-align: center;
        margin: -3%;
        margin-bottom: 0%;
    }
    .secret{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }
}