*{
   /*
   border: solid 2px black; 
   */
    
}
.logo{
    display: inline-flex;
}
.connecter{
    display: inline-flex;
    
}
.top{
    display: inline;
    background-color: #4882DF;

}
header{
    background-color: #4882DF;
}