*{
    font-family: 'Poppins', sans-serif;
}
.logo{
    display: inline-flex;
}
.top{
    display: inline;
}
header{
    background: rgb(159, 207, 230);
    text-align: center;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    margin-top: calc(-50vw + 50%);
    padding-top: 1%;
    padding-bottom: 1%;

    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 0.5%;
}
.boutonHeader{
    display: flex;
    justify-content:right;
    grid-column: 3;
    margin-right: 2%;
    margin-top: -5%;
    margin-bottom: -5%;
}
.top{
    grid-column: 2;
}
.titre{
    display: inline;
    text-align: center;
}
.corps{
    display: inline;
    text-align: center;
}
.secret{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    /*justify-content: center;*/

}
form{
    border : solid 2px black;
    border-radius: 20px;
    padding : 2%;
    margin: 35%;
    margin-top: 0%;
    background-color: rgb(159, 207, 230);
}
fieldset{
    border: 0;
}
.imgS{
    height: 300px;
    width: 300px;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;

}

@media only screen and (max-width:800px){
	form{
        border : solid 2px black;
        border-radius: 20px;
        padding : 2%;
        margin: 20%;
        margin-top: 0%;
        background-color: rgb(159, 207, 230);
    }
    header{
        background: rgb(159, 207, 230);
        padding: 30px;
        text-align: center;
        margin: -3%;
        margin-bottom: 0%;
    }
    .secret{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .boutonHeader{
        display: flex;
        justify-content:right;
        grid-column: 3;
        margin-right: 2%;
        margin-top: -10%;
        margin-bottom: -20%;
    }
}